.container{
  width: 300px;
  height: 280px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  padding: .5rem;
  border-radius:10px ; 
  line-height: 1.5;

}
.btn_payment{
  border: none;
  padding: 15px;
  width: 100%;
  background-color: var(--blue-color);
  font-weight: 700;
  color: #fff;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
  margin: .8rem 0;
}
.btn_payment:hover{
  background-color: var(--blue-color);

}
.title{
  text-transform: capitalize;
  font-size: 18px;
  padding: 10px 0;
  
}
.price, .disc{
  padding: 10px 0;
}
.disc span{
  padding: 3px 5px;
  border-radius: 8px;
  font-weight: 600;
  background-color: var(--red-color);
  color: white;
}
.total{
  font-weight: 400;
  font-size: 19px;
}
@media screen and (max-width: 768px){
  .container{
    width: 300px;
  }
  .title{
    font-size: 16px;
  }
  .price, .disc{
    font-size: 15px;
  }
  
}