.container{
  width: 235px;
  /* height: 260px; */
  padding: 18px;
  box-shadow: 4px 4px 10px var(--shadow-color);
  border-radius: 8px;
  line-height: 1.3rem;
  background-color: white;
}
.container_btn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.tag{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tagDisc{
  text-align: center;
  background-color: var(--red-color);
  color: white;
  padding: 2px 5px;
  border-radius: 8px;
}
.iconRating{
  color: var(--yellow-color);
}
.container:hover{
  transform: scale(1.05);
  transition-delay: 100ms;
  /* border: 2px solid var(--yellow-color); */
  /* box-shadow: 4px 4px 10px var(--yellow-color); */
}

.title {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}
.price, .disc{
  font-weight: 600;
  font-size: 15px;
  /* color: var(--gray-color); */
}
.brand{
  color: var(--red-color);
  font-size: 14px;
}
.btn_detail{
  cursor: pointer;
}
.btn_detail:hover{
  color: var(--red-color);
}
.btn_buy {
  border: none;
  margin-top: 8px;
  width: 100%;
  padding: 4px 30px;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  border: 2px solid var(--blue-color);
  background-color: var(--blue-color);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 20px;
}
.btn_buy:hover {
  border: 2px solid var(--blue-color);
  color: var(--blue-color);
  background-color: #fff;
  transition: 1000ms;
}

.btn_cart {
  border: none;
  padding: 4px 30px;
  margin-top: 8px;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  border: 2px solid var(--yellow-color);
  color: var(--yellow-color);
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  border-radius: 20px;
}

.btn_cart:hover{
  background-color: var(--yellow-color);
  border: 2px solid var(--yellow-color);
  transition: 1000ms;
  color: #fff;
}


@media screen and (max-width: 768px) {
  .card {
    margin: .5rem auto;
    width: 200px;
    max-height: 320px;
    /* background-color: blue; */
  }

  .title {
    font-size: 14px;
  }
  .rating, .price{
    font-size: 13px;
  }
  .btn_favorite {
    width: 20px;
    height: 20px;
  }
}