.container{
  width: 250px;
  height: 400px;
  border-radius: 10px;
  /* border: 1px solid var(--border-color); */
  box-shadow: 4px 4px 10px var(--shadow-color);
  background-color: white;
  position: fixed;
  top: 120px;
  left: 0;
  padding: 24px;
  z-index: 1;
}
.wrapper{
  display: flex;
  justify-content: space-between;
}
.btnClose{
  cursor: pointer;
  padding: 3px;
  width: 25px;
  height: 25px;
  box-shadow: 4px 4px 10px var(--shadow-color);
  border-radius: 25px;
  
}
.btnClose:hover{
  background-color: whitesmoke;
  color: var(--red-color);
  transition: 100ms;
}
.title{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.subTitle{
  /* font-weight: 500; */
  font-size: 17px;
}
.title span{
  padding: 0 24px;
}
.labelInp{
  /* color: var(--gray-color); */
  padding: 0 12px;
}
.wrapperInp{
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  margin: 10px 0;
  border-top: 1px solid var(--border-color);
}
.btnClear{
  padding: 4px 55px;
  border: 2px solid var(--red-color);
  background-color: var(--red-color);
  color: white;
  border-radius: 20px;
  text-transform: capitalize;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}
.btnClear:hover{
  background-color: whitesmoke;
  color: var(--red-color);
  transition: 1000ms;
}
.iconStar{
  color: var(--yellow-color);
  margin-left: 10px;
}