.container{
  margin: 10px 0;
  /* background-color: red; */
}
.inputStyle{
  padding: 12px;
  border-radius: 10px 0 0 10px;
  width: 350px;
  border: 2px solid var(--border-color);
}
.inputStyle:focus{
  outline: none;
  background-color: whitesmoke;
}
.btn{
  border-radius: 0 10px 10px 0;
  padding: 12px;
  background-color: transparent;
  border-color: var(--border-color);
  border-style: solid solid solid none;
  border-width: 2px;
  cursor: pointer;
  /* border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-left: none ; */
}
@media screen and (max-width: 414px){
  .inputStyle{
    width: 250px;
  }
}