.container {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  /* padding: 24px 0; */
  /* background-color: red; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.title {
  font-size: 28px;
  font-weight: 700;
}
.title span{
  color: var(--red-color);
  text-decoration: underline;
}

.container_collection {
  display: flex;
  /* background-color: red; */
}

.background_collection {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  border-radius: 24px 0 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  text-align: center;
  color: white;
  gap: 14px;
}
.text {
  font-size: 12px;
}

.collections {
  padding: 30px 10px;
  height: 300px;
  border-radius: 0 16px 16px 0;
  background-color: whitesmoke;
}
.product{
  margin: auto 0;
}
.navigation {
  display: flex;
  gap: 4px;
}

.image {
  width: 100%;
  border-radius: 8px;
}

.container_arrow {
  display: flex;
  /* position: relative; */
  align-items: center;
  /* justify-content: center; */
  /* width: 48px; */
  height: 48px;
  border-radius: 100%;
  /* background-color: red; */
  cursor: pointer;
}

.prev_arrow,
.next_arrow {
  font-size: 24px;
}

@media only screen and (max-width: 768px) {
  .background_collection {
    display: none;
    
  }
  .titleHeader{
    display: flex;
  }
  .collections{
    border-radius: 16px;
  }
  @media screen and (max-width: 414px) {
    .collections{
      border-radius: 16px;
      width: 300px;
      background-color: white;
    }
    .product{
      margin: 0 auto;
      justify-content: center;
    }
  }
}